<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find graph_replanning)/config/object_test_replanner.yaml"/>
  <include file="$(find sharework_cembre_moveit_config)/launch/demo.launch"/>
  <node pkg="object_loader" name="context_manager_node" type="context_manager_node" respawn="true" output="screen"/>

  <rosparam command="load" file="$(find graph_replanning)/config/test_path_validity_sharework.yaml"/>
  <node pkg="object_loader" name="scene_spawner" type="scene_spawner" output="screen"/>

  <node pkg="graph_replanning"
        name="test_path_validity"
        type="test_path_validity"
        output="screen"
        launch-prefix="gdb -ex run --args" >
  </node>

</launch>
